<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Book title</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
.container {
  margin-top:30px;/* 正文 */
}
.pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666;
}
#mainpic {
  margin: 3px 0 0 0;
  float: left;
  text-align: center;
  margin: 3px 12px 0 0;
  max-width: 155px;
  overflow: hidden;
}
h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  line-height: 150%;
}
h1 {
  word-wrap: break-word;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #494949;
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 1.1;
}
.intro p {
  text-indent:2em;
}
</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <a class="navbar-brand" href="#">Brand</a> </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"> <a href="#">Link</a> </li>
      <li> <a href="#">Link</a> </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li> <a href="#">Link</a> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li> <a href="#">Action</a> </li>
          <li> <a href="#">Another action</a> </li>
          <li> <a href="#">Something else here</a> </li>
          <li class="divider"> </li>
          <li> <a href="#">Separated link</a> </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container ">
  <div class="row clearfix">
    <div class="col-md-8 column">
      <h1> <span property="v:itemreviewed">文字的力与美</span>
        <div class="clear"></div>
      </h1>
      <div class="subject clearfix">
        <div id="mainpic" class=""> <a class="nbg" href="http://img3.douban.com/lpic/s27457804.jpg" title="文字的力与美"> <img src="http://img3.douban.com/mpic/s27457804.jpg" title="点击看大图" alt="文字的力与美" rel="v:photo"> </a> </div>
        <div id="info" class=""> <span> <span class="pl"> 作者</span>: <a class="" href="/search/%E6%9D%89%E6%B5%A6%E5%BA%B7%E5%B9%B3%20%E7%BC%96%E8%91%97">[日]杉浦康平 编著</a> </span><br>
          <span class="pl">出版社:</span> 北京联合出版公司·后浪出版公司<br>
          <span class="pl">粉丝数:</span> 100<br>
        </div>
      </div>
      <div class="related_info">
        <h2> <span class="">内容简介</span> &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;· </h2>
        <div class="intro">
          <p>50个吉祥文字，200余幅珍贵图片</p>
          <p>领会亚洲文字背后蕴藏的深厚内涵</p>
          <p>展现设计大师森罗万象的设计视野</p>
          <p>◎内容简介</p>
          <p>本书是杉浦康平多年深 入研究、剖析亚洲各国文字的成果，其中又以汉字为全书的中心。全书 根据文字装饰品的用途分为五个部分，分别为：甘露文字、穿着文字、头戴文字， 运送文字以及文字与生活。</p>
          <p>杉浦康平列举了大量饶富趣味的代表性文字，结合亚洲各地的风俗民情，以简明易懂的文字述说背后蕴藏的意义。此外，作者还为本书精心挑选了众多罕见的图片，尝试将他多年来深刻感受到的文字的力与美，更直观地传递给所有读者朋友。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 column">
    这里是啥来着。。忘了
     </div>
  </div>
</div>
<script src="/js/jquery.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>
